-e git+https://github.com/behave/behave@v1.2.7.dev2#egg=behave
faas-client==1.4.23
hasura-client==1.0.13
jelastic-client==1.3.25
psycopg2-binary==2.9.1
pyjwt==2.1.0
pytest==6.2.4
pytest-xdist==2.3.0
requests==2.26.0
sh==1.14.2
softozor-graphql-client==1.0.13
softozor-test-utils==1.0.13
